h1 {
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.gwimbly {
    margin-left: 600px;
    margin-top: 400px;
}

.subtitle {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    background-color: black;
  }

  .cave {
    font-family:'Courier New', Courier, monospace;
    color: white;
    white-space:pre;
    margin-top:0;
    display: inline-block;
    font-size: 24px;
    line-height: 12px;
    margin-left: 100px;
  }
  a {
    color:white;
    text-decoration: none;
  }