h1 {
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.gwimbly {
    margin: 400px;
}

  p {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    background-color: black;
  }